.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-color;
  box-sizing: border-box;
  border: 2px solid @basic-color;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
