.card-product__image {
  display: block;
}

.card-product__description-wrapper {
  border: 1px solid @whisper;
  margin: 0 auto;
  padding: 28px;
}

.card-product__title {
  font-size: 17px;
  color: @black;
}

.card-product__description {
  font-size: 13px;
  line-height: 30px;
}

.card-product__price {
  color: @black;
}
