.catalog {
  padding: 30px;
  padding-top: 29px;
  max-width: 1050px;

  @media (min-width: @tablet-width) {
    padding: 53px 50px;
    padding-top: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 115px;
    padding-bottom: 57px;
  }
}
