.main-container__title-wrapper {
  background-color: @white-smoke;
  padding: 74px 0;
}

.main-container__title {
  font-size: 27px;
  line-height: 30px;
  color: @black;
  max-width: 260px;
  text-align: center;
  margin: 0 auto;
}

.main-container__video {
  margin: 0 auto;
  margin-bottom: 58px;
  max-width: 260px;
}

.main-container__form-feedback {
  max-width: 260px;
  margin: 0 auto;
}
