.main-footer {
  background-color: @white-smoke;
  padding: 0;
}

.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 51px 50px 58px;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  &[href]:hover .main-footer__logo-image {
    fill: #46c1ae;
  }

  &[href]:active .main-footer__logo-image {
    opacity: 0.3;
  }
}

.main-footer__logo-image {
  display: block;
}

.main-footer__social-list {
  margin: 0 auto;
}

.main-footer__copyright {
  padding: 22px 69px;
  margin: 0 auto;
  max-width: 320px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    min-width: 180px;
  }
}
