.promo {
  background-color: #ffffff;
  background-image: url("../../img/decorative/promo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: -17px;
}

.promo__wrapper {
  margin: 0 auto;
}

.promo__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  text-align: center;
  padding: 0 30px;
  padding-top: 90px;
  margin: 0 auto;
  min-height: 212px;
  max-width: 260px;
}
