.promo-list {
  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0 50px;
  }
}

.promo-list__item {
  &--interior {
    background-color: @downy;
  }

  &--children {
    background-color: @puerto-rico;
  }

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.promo-list__link {
  font-weight: 700;
  font-size: 19px;
  color: @white;
  background-repeat: no-repeat;
  background-position: right center;
  text-decoration: none;
  display: block;
  margin: 0 30px;
  margin-right: 27px;
  padding: 24px 0 31px;

  &--interior {
    background-color: @downy;
    background-image: url("../img/decorative/interior.svg");
    margin-right: 36px;
  }

  &--children {
    background-color: @puerto-rico;
    background-image: url("../img/decorative/toy.svg");

    @media (min-width: @tablet-width) {
      margin-right: 33px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 35px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 36px;
  }
}
