.social-list {
  padding: 25px 0 28px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 29px;
  }
}

.social-list__link {
  display: flex;
  padding: 3px 0;

  &:hover .social-list__icon {
    fill: #46c1ae;
  }

  &:active .social-list__icon {
    opacity: 0.3;
  }
}

.social-list__icon {
  fill: @toggle;
}
