.video {
  border: 1px solid #ececec;
  padding-top: 22px;
  padding-bottom: 33px;
}

.video__title {
  font-size: 17px;
  color: @black;
  padding: 0 34px;
  margin: 0;
}

.video__content-wrapper {
  max-width: 260px;
  margin: 0 auto;
}

.video__description-wrapper {
  padding: 0 34px;
}
