@import "blocks/font.less";
@import "blocks/mixins.less";
@import "blocks/variable.less";
@import "blocks/reset-list.less";
@import "blocks/page.less";
@import "blocks/button.less";
@import "blocks/main-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/user-list.less";
@import "blocks/main-container.less";
@import "blocks/promo.less";
@import "blocks/promo-list.less";
@import "blocks/product-week.less";
@import "blocks/advantages.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";
@import "blocks/map.less";
@import "blocks/main-footer.less";
@import "blocks/copyright.less";
@import "blocks/catalog.less";
@import "blocks/catalog-list.less";
@import "blocks/card-product.less";
@import "blocks/video.less";
@import "blocks/form-feedback.less";
@import "blocks/modal.less";
@import "blocks/add-cart.less";

.page__body {
  font-family: "Open Sans", serif;
  font-size: 15px;
  line-height: 24px;
  background-color: @white;
  color: @basic-color;
  margin: 0;
  min-height: 100%;
}

.visually-hidden {
  .visually-hidden();
}
